/Library
/Temp
/nailsalon.app
/nailsalon-iphone
.vs/*
.vscode/
/*.userprefs
/*.csproj
*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/*.csproj
/.idea*/
/*.cache
/obj/Debug/
/Assets/Plugins/UniRx/
/Assets/google-services.json
/Assets/Firebase
/Assets/Plugins
/obj
/Assets/scripts/FireBase
Assets/GoogleMobileAds/
build/*
Assets/Unicache.meta
Assets/GoogleSignIn.meta
Assets/GoogleSignIn/Impl.meta
/BuildOutPutPath
